.account-link {
  cursor: pointer;
}
.accountStatus {
  width: 24px;
  height: 24px;
  border: 2px solid #7a7a7a;
  border-radius: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #7a7a7a;
}
