.product-card-contaner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 8px;
}
.product-card {
  grid-row: span 2 / span 2;
}
