<div class="card p-4">
  <h4 class="mx-auto py-1 fw-bold">Sign Up</h4>
  <a
    class="link-info mx-auto pb-4"
    style="cursor: pointer"
    routerLink="/sign-in"
    >Have account ? Sign in your account !</a
  >
  <form
    (submit)="submitForm()"
    class="d-flex flex-column gap-4 w-75 mx-auto pb-3"
  >
    <input
      [(ngModel)]="username"
      name="username"
      class="form-control"
      type="text"
      placeholder="Username..."
    />
    <input
      [(ngModel)]="email"
      name="email"
      class="form-control"
      type="email"
      placeholder="Email..."
    />
    <input
      [(ngModel)]="password"
      name="password"
      class="form-control"
      type="password"
      placeholder="Password..."
    />
    <input
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      class="form-control"
      type="password"
      placeholder="Confirm Password..."
    />
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <p class="fs-5 fw-bold text-danger mx-auto">{{ errorMassage }}</p>
</div>
