<div class="card p-4">
  <h4 class="mx-auto py-4 fw-bold">Sign Up</h4>
  <form class="d-flex flex-column gap-4 w-75 mx-auto pb-3">
    <input class="form-control" type="text" placeholder="Username..." />
    <input class="form-control" type="email" placeholder="Email..." />
    <input class="form-control" type="password" placeholder="Password..." />
    <input
      class="form-control"
      type="password"
      placeholder="Confirm Password..."
    />
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <p class="fs-5 fw-bold text-danger mx-auto">Error text</p>
</div>
